# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/ethan-portfolio-starter

/.vscode

# dependencies
/portfolio_starter_p2/node_modules
/portfolio_starter_p2/.pnp
.pnp.js

# testing
/portfolio_starter_p2/coverage

# next.js
/portfolio_starter_p2/.next/
/portfolio_starter_p2/out/

# production
/portfolio_starter_p2/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
